.App {
  height: 100vh;
  background-color: #1a202c;
  overflow: scroll;
  text-align: center;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 30px;
}

.authed-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.sub-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 22px;
  color: rgb(230, 230, 230);
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.cta-button:hover {
  opacity: 0.75;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #6229e6, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.submit-gif-button {
  background: -webkit-linear-gradient(left, #4e44ce, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-left: 10px;
  height: 50px;
}

.social-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 48%;
  margin-right: 48%;
}

.twitter-button {
  background-color: transparent;
  border: 0;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.github-logo {
  width: 25px;
  height: 25px;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  opacity: 0.75;

  -webkit-filter: drop-shadow(5px 5px 5px rgb(26, 25, 25));
  filter: drop-shadow(5px 5px 5px rgb(26, 25, 25));
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.buttons-container-inner {
  display: inline-block;
  align-self: flex-end;
  text-align: right;
  background: -webkit-linear-gradient(left, #4e44ce, #6d75ec);
  padding: 2px 10px 2px 10px;
  margin: 0 10px 40px 0;
  border-radius: 40px;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(43, 41, 41));
  filter: drop-shadow(5px 5px 5px rgb(43, 41, 41));
}

.upvote-button {
  background: transparent;
  border: 0;
  margin: 5px 0 3px 0;
}

.upvote-button:hover {
  opacity: 0.75;
}
.upvote-text {
  width: 25px;
  height: 25px;
  color: white;
}

.send-sol-button {
  background: transparent;
  border: 0;
}

.send-sol-button img {
  width: 25px;
  height: 25px;
}

.remove-button {
  background: transparent;
  border: 0;
  /* opacity: 0.85; */
}

.remove-button:hover {
  opacity: 0.75;
}

.remove-image {
  width: 25px;
  height: 25px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.gif-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}

.gif-grid .gif-item {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-self: center;
  align-self: center;
  /* width: 50%; */
}

.gif-item img.item {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  -webkit-filter: drop-shadow(5px 5px 5px #000);
  filter: drop-shadow(5px 5px 5px #000);
}

.connected-container input[type="text"] {
  display: inline-block;
  color: white;
  padding: 10px;
  width: 50%;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin: 50px auto;
}

.user-address-text {
  font-size: 16px;
  color: rgb(233, 224, 224);
  padding: 5px;
}
